MONGO_URI=mongodb://localhost:27017/my-daily-standup
SESSION_SECRET=

ORIGIN=http://localhost:3000
PORT=3000
NODE_ENV=development

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_EMAIL=mailto:you@example.com
